BOT_TOKEN=
ADMIN_IDS=
REQUIRED_GROUP_ID=
REQUIRED_GROUP_URL=
REPOSITORY_CHAT_ID=
STORAGE_KEY=
DATA_FILE=./data/database.json
MAX_RESOURCES=5000

# Real history scanner (MTProto)
MT_API_ID=
MT_API_HASH=
MAX_HISTORY_SCAN=50000
